.rotate {
  animation: rotate-center 0.4s ease-in-out both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slide-right {
  animation: slide-right 0.4s cubic-bezier(0.5, 1.5, 0.35, 1.01) both;
}
@keyframes slide-right {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
